@using HW1c.Models;
@model LibViewModel

@{
    ViewBag.Title = "Library";
}

<h1>Photo library</h1>
<p> Table below lists photo info recorded by mobile app. Select a photo ID to view details.</p>

<div class="row text-center">
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">PhotoID</th>
                <th scope="col">Location</th>
                <th scope="col">Date</th>
                <th scope="col">Phone ID</th>
                <th scope="col">AppVersion</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.PhotoViewModel.PhotoList)
                {
                    <tr>
                        <td>@Html.ActionLink(item.PhotoID, "Read", new { id = item.PhotoID }, new { @class = "small" })</td>
                        <td>@item.Location</td>
                        <td>@item.RecordedDateTime.ToShortDateString()</td>
                        <td>@item.PhoneID</td>
                        <td>@item.AppVersion</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

