@using HW1c.Models;
@model LibViewModel

@{
    ViewBag.Title = "Library";
}
<br />
<br />
<br />
<br />
<h1>Photo library</h1>
<div class="row">
    <div class="col-6 text-left">
        <p> Table below lists photo info recorded by mobile app. Select a photo ID to view details. Select photo thumbnail to view photo. </p>
        <p> (Click the button to use the magnifying glass when it shows up.) </p>
    </div>
    <div class="col-1 text-left">
        <button onclick="photoStatus()" class="photoDropBtn">Filter</button>
        <div id="dropdown1" class="dropdown-content1">
            <a href="#" onclick="location.href='@Url.Action("PhotoPass","Home")'">Pass</a>
            <a href="#" onclick="location.href='@Url.Action("PhotoFail","Home")'">Fail</a>
            <a href="#" onclick="location.href='@Url.Action("Library","Home")'">All</a>
        </div>
    </div>
</div>

<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function photoStatus() {
        document.getElementById("dropdown1").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.photoDropBtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content1");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    function photoPreview(photoFile) {
        document.getElementById("showPhoto").innerHTML = "<img id='myimage' src= " + photoFile + " width = 300 height = 350/>";
        $('#maglass').show();
    }

    function magnify(imgID, zoom) {
        var img, glass, w, h, bw;
        img = document.getElementById(imgID);
        /*create magnifier glass:*/
        glass = document.createElement("DIV");
        glass.setAttribute("class", "img-magnifier-glass");
        /*insert magnifier glass:*/
        img.parentElement.insertBefore(glass, img);
        /*set background properties for the magnifier glass:*/
        glass.style.backgroundImage = "url('" + img.src + "')";
        glass.style.backgroundRepeat = "no-repeat";
        glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
        bw = 3;
        w = glass.offsetWidth / 2;
        h = glass.offsetHeight / 2;
        /*execute a function when someone moves the magnifier glass over the image:*/
        glass.addEventListener("mousemove", moveMagnifier);
        img.addEventListener("mousemove", moveMagnifier);
        /*and also for touch screens:*/
        glass.addEventListener("touchmove", moveMagnifier);
        img.addEventListener("touchmove", moveMagnifier);
        function moveMagnifier(e) {
            var pos, x, y;
            /*prevent any other actions that may occur when moving over the image*/
            e.preventDefault();
            /*get the cursor's x and y positions:*/
            pos = getCursorPos(e);
            x = pos.x;
            y = pos.y;
            /*prevent the magnifier glass from being positioned outside the image:*/
            if (x > img.width - (w / zoom)) { x = img.width - (w / zoom); }
            if (x < w / zoom) { x = w / zoom; }
            if (y > img.height - (h / zoom)) { y = img.height - (h / zoom); }
            if (y < h / zoom) { y = h / zoom; }
            /*set the position of the magnifier glass:*/
            glass.style.left = (x - w) + "px";
            glass.style.top = (y - h) + "px";
            /*display what the magnifier glass "sees":*/
            glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
        }
        function getCursorPos(e) {
            var a, x = 0, y = 0;
            e = e || window.event;
            /*get the x and y positions of the image:*/
            a = img.getBoundingClientRect();
            /*calculate the cursor's x and y coordinates, relative to the image:*/
            x = e.pageX - a.left;
            y = e.pageY - a.top;
            /*consider any page scrolling:*/
            x = x - window.pageXOffset;
            y = y - window.pageYOffset;
            return { x: x, y: y };
        }
    }
</script>

<style type="text/css">
    .imgThumbnail {
        cursor: pointer;
    }

        .imgThumbnail:hover {
            -moz-box-shadow: 0 0 10px #ccc;
            -webkit-box-shadow: 0 0 10px #ccc;
            box-shadow: 0 0 10px #ccc;
        }
</style>
<style>
    /* Dropdown Button */
    .photoDropBtn {
        background-color: #3498DB;
        color: white;
        padding: 12px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

        /* Dropdown button on hover & focus */
        .photoDropBtn:hover, .dropbtn:focus {
            background-color: #2980B9;
        }

    /* The container <div> - needed to position the dropdown content */
    .dropdown1 {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content1 {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
        .dropdown-content1 a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content1 a:hover {
                background-color: #ddd
            }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: block;
    }
</style>

<div class="row text-center">
    <br />
    <div class="col-7 text-left">
        <table id="photoTable" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">PhotoID</th>
                    <th scope="col">Photo Thumbnail</th>
                    <th scope="col">Value</th>
                    <th scope="col">Location</th>
                    <th scope="col">Date</th>

                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.PhotoViewModel.PhotoList)
                    {
                        <tr>
                            <td>@Html.ActionLink(item.PhotoID, "Read", new { id = item.PhotoID }, new { @class = "small" })</td>
                            <td onclick="photoPreview('/Content/Img/' + '@item.PhotoFile')">
                                <img src="~/Content/Img/@item.PhotoFile" width="30" height="30" class="imgThumbnail">
                            </td>
                            <td>@item.Value</td>
                            <td>@item.Location</td>
                            <td>@item.RecordedDateTime.ToShortDateString()</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col">
        <div id="showPhoto" class="row text-center">
        </div>

        <button class="btn btn-primary btn-lg" id="maglass" style="display:none" onclick='magnify("myimage", 3)'><i class="fa fa-search"></i></button>

    </div>
</div>
