@using HW1c.Models;
@model ReportViewModel

@{
    ViewBag.Title = "Accuracy";
}
<br />
<br />

<!--Main Content Area-->
<div class="text-center">
    <h2>Test Accuracy Report</h2>
    <br />
    <div class="jumbotron">
        <h1 class="display-4">Test Accuracy</h1>
        <h1 class="display-4">@Model.Accuracy</h1>
        <br />
        <h4 class="display-5">Number of Tests Compared: @Model.NumberOfTests</h4>
        <p class="lead">Below line chart shows the change in accuracy over time.</p>
    </div>

    <div class="row text-center">
        <img src="~/Content/Img/LineChartAccuracy.PNG" height="400" class="ChartBox mx-auto" />
    </div>

    <div class="jumbotron">
        <h1 class="display-4">User information</h1>
        <p class="lead">Below table lists detailed mobile app related user information.</p>
    </div>

    <div class="row text-center">
        <br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">TestValue</th>
                    <th scope="col">LabValue</th>
                    <th scope="col">Accuracy</th>
                    <th scope="col">DeviationRate</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.LogViewModel.LogList)
                    {
                        <tr>
                            <td>@item.RecordedDateTime.ToShortDateString()</td>
                            <td>@item.TestValue</td>
                            <td>@item.LabValue</td>
                            <td>@item.Accuracy</td>
                            <td>@item.DeviationRate</td>

                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>

    <div class="jumbotron">
        <h1 class="display-4">Clinic accuracy information</h1>
        <p class="lead">Below chart lists detailed clinic accuracy information.</p>
    </div>

    <div id="c1"></div>
    <script>
        var data = [
            { "province": "Clinic A", "population": 0.91 },
            { "province": "Clinic B", "population": 0.96 },
            { "province": "Clinic C", "population": 0.78 },
            { "province": "Clinic D", "population": 0.85 },


        ];
        var Stat = G2.Stat;
        var Frame = G2.Frame;
        var frame = new Frame(data);
        frame = Frame.sort(frame, 'population');
        var chart = new G2.Chart({
            id: 'c1',
            forceFit: true,
            height: 450,
            plotCfg: {
                margin: [20, 60, 20, 120]
            }
        });
        chart.source(frame);
        chart.axis('province', {
            title: null
        });
        chart.coord('rect').transpose();
        chart.interval().position('province*population');
        chart.render();
    </script>

</div>
