@using HW1c.Models;
@model ReportViewModel

@{
    ViewBag.Title = "Accuracy";
}
<div class="container-fluid">
    <br />
    <h2 class="text-primary">Test Accuracy Report</h2>
    <br />
</div>

<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="nav flex-column">
                <button type="button" class="btn btn-outline-light btn-lg active" aria-pressed="true">@Html.ActionLink("App Usage", "Index", "Report", null, new { @class = "nav-link" })</button>
                <br />
                <button type="button" class="btn btn-outline-secondary btn-lg disabled" aria-disabled="true">@Html.ActionLink("Test Accuracy", "Accuracy", "Report", null, new { @class = "nav-link" })</button>
                <br />
                <button type="button" class="btn btn-outline-dark btn-lg active" aria-pressed="true">@Html.ActionLink("More Detail", "MoreDetail", "Report", null, new { @class = "nav-link" })</button>
            </div>
        </div>
        <div class="col text-center">
            <div class="jumbotron">
                <h1 class="display-4">Test Accuracy</h1>
                <h1 class="display-4">@Model.Accuracy</h1>
                <br />
                <h4 class="display-5">Number of Tests Compared: @Model.NumberOfTests</h4>
                <p class="lead">Below line chart shows the change in accuracy over time.</p>
            </div>

            <div class="row text-center">
                <img src="~/Content/Img/LineChartAccuracy.PNG" height="400" class="ChartBox mx-auto" />
            </div>

            <div class="jumbotron">
                <h1 class="display-4">User information</h1>
                <p class="lead">Below table lists detailed mobile app related user information.</p>
            </div>

            <div class="row text-center">
                <br />
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">App Version</th>
                            <th scope="col">Phone ID</th>
                            <th scope="col">Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                    foreach (var item in Model.LogViewModel.LogList)
                    {
                        <tr>
                            <td>@item.RecordedDateTime.ToShortDateString()</td>
                            <td>@item.AppVersion</td>
                            <td>@item.PhoneID</td>
                            <td>@item.Location</td>

                        </tr>
            }
                        }
                    </tbody>
                </table>
                <img src="~/Content/Img/PieChart1.PNG" height="300" class="ChartBox mx-auto" />
            </div>

            <head>
                <meta charset="utf-8">
                <title>横向柱状图</title>
                <script src="https://a.alipayobjects.com/jquery/jquery/1.11.1/jquery.js"></script>
                <script src="https://gw.alipayobjects.com/as/g/datavis/g2/2.3.13/index.js"></script>
            </head>
            <body>
                <div id="c1"></div>
                <script>
                    var data = [
                        { "province": "Clinic A", "population": 0.91 },
                        { "province": "Clinic B", "population": 0.96 },
                        { "province": "Clinic C", "population": 0.78 },
                        { "province": "Clinic D", "population": 0.85 },
                       
                       
                    ];
                    var Stat = G2.Stat;
                    var Frame = G2.Frame;
                    var frame = new Frame(data);
                    frame = Frame.sort(frame, 'population'); // 将数据按照population 进行排序，由大到小
                    var chart = new G2.Chart({
                        id: 'c1',
                        forceFit: true,
                        height: 450,
                        plotCfg: {
                            margin: [20, 60, 20, 120]
                        }
                    });
                    chart.source(frame);
                    chart.axis('province', {
                        title: null
                    });
                    chart.coord('rect').transpose();
                    chart.interval().position('province*population');
                    chart.render();
                </script>
            </body>
        </div>
</div>

