@using HW1c.Models;
@model ReportViewModel

@{
    ViewBag.Title = "Accuracy";
}
<br />
<br />
<div class="row">

    <!--Main Content Area-->
    <div class="main">
        <h2>Test Accuracy Report</h2>
        <br />
        <!--Row 1-->
        <div class="row">
            <!-- Accuracy Rate card -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 mb-3">
                <div class="card card-block">
                    <div class="clearfix">
                        <i class="fa fa-user-o float-right icon-grey-big"></i>
                    </div>
                    <p class="card-text text-center text-warning">Accuracy Rate</p>
                    <p class="card-title font-weight-normal text-warning text-center">88%</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            88%
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <br />
        <div class="row">



            <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>

            <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
            <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap-datetimepicker.min.css" />
            <h2>From:</h2>
            <input size="16" type="text" id="datetimeStart" readonly class="form_datetime">
            <h2>To:</h2>
            <input size="16" type="text" id="datetimeEnd" readonly class="form_datetime">

            <script type="text/javascript">
                $("#datetimeStart").datetimepicker({
                    format: 'yyyy-mm-dd',
                    minView: 'month',

                    autoclose: true,
                    startDate: new Date().setMonth(1,1),
                   
                }).on("click", function () {
                    $("#datetimeStart").datetimepicker("setEndDate", $("#datetimeEnd").val())
                });
                $("#datetimeEnd").datetimepicker({
                    format: 'yyyy-mm-dd',
                    minView: 'month',

                    autoclose: true,
                    startDate: new Date().setMonth(1, 1),
                }).on("click", function () {
                    $("#datetimeEnd").datetimepicker("setStartDate", $("#datetimeStart".val()))
                });
            </script>

            <button type="button" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off" id="Apply">Apply Date</button>


        </div>

        <!--Row 2-->
        <div class="row">
            <div class="col-8">
                <p class="text-center">Accuracy over time</p>
                <!-- Line Chart-->
                <canvas id="AccuracyLineChart" width="400" height="200"></canvas>




                <script>
                    var ctx = document.getElementById('AccuracyLineChart');
                    var data_total = [0.8, 0.76, 0.83, 0.89, 0.84, 0.93, 0.96];
                    var data_A = [0.7, 0.74, 0.72, 0.71, 0.77, 0.78, 0.81];
                    var data_B = [0.87, 0.84, 0.86, 0.91, 0.87, 0.95, 0.98];
                    var data_C = [0.76, 0.74, 0.71, 0.78, 0.80, 0.89, 0.91];
                    var data_D = [0.86, 0.9, 0.92, 0.97, 0.92, 0.98, 0.99];
                    var myLineChart = new Chart(ctx, {
                        type: 'line',
                       
                        data: {
                            labels: ["Day 1", "Day 2", "Day 3", "Day 4", "Day 5", "Day 6", "Day 7"],
                            datasets: [{
                                label: "TOTAL",
                                data: data_total,
                                backgroundColor: [
                                    'rgba(51, 153, 255, 0.2)',
                                ],
                                borderColor: [
                                    'rgba(0, 10, 130, .7)',
                                ],
                                borderWidth: 2
                            },
                            {
                                label: "Clinic A",
                                data: data_A,
                                backgroundColor: [
                                    'rgba(0, 0, 0, 0)',
                                ],
                                borderColor: [
                                    'rgba(200, 99, 132, .7)',
                                ],
                                borderWidth: 2
                            },
                            {
                                label: "Clinic B",
                                data: data_B,
                                backgroundColor: [
                                    'rgba(0, 0, 0, 0)',
                                ],
                                borderColor: [
                                    'rgba(86, 0, 198, 0.6)',
                                ],
                                borderWidth: 2
                            },
                            {
                                label: "Clinic C",
                                data: data_C,
                                backgroundColor: [
                                    'rgba(0, 0, 0, 0)',
                                ],
                                borderColor: [
                                    'rgba(255, 216, 41, .7)',
                                ],
                                borderWidth: 2
                            },
                            {
                                label: "Clinic D",
                                data: data_D,
                                backgroundColor: [
                                    'rgba(0, 0, 0, 0)',
                                ],
                                borderColor: [
                                    'rgba(99, 216, 41, .7)',
                                ],
                                borderWidth: 2
                            }
                            ]
                        },

                    });




                    //var AccuracyLineChart = new Chart(ctx, config);
                    //var myPieChart = new Chart(pctx, pconfig);

                    
                    function clickApply() {
                        //$('#title1').html('Number of Uploaded Photos Over Time');
                        $('#usageLineChart').show();
                        //$('#usageMap').hide();
                        var data_total = [0.85, 0.81, 0.89, 0.95, 0.96, 0.96, 0.98];
                        var data_A = [0.73, 0.77, 0.73, 0.72, 0.80, 0.82, 0.86];
                        var data_B = [0.91, 0.88, 0.92, 0.96, 0.95, 0.98, 0.99];
                        var data_C = [0.78, 0.76, 0.77, 0.83, 0.83, 0.93, 0.95];
                        var data_D = [0.92, 0.94, 0.95, 0.98, 0.95, 0.99, 1];

                        myLineChart.data.datasets[0].data = data_total;
                        myLineChart.data.datasets[1].data = data_A;
                        myLineChart.data.datasets[2].data = data_B;
                        myLineChart.data.datasets[3].data = data_C;
                        myLineChart.data.datasets[4].data = data_D;
                        // myLineChart.data.labels = chart_labels;
                        myLineChart.update();

                        //var newpdata = [10, 10, 10, 10];
                        // myPieChart.data.labels = pie_labels;
                        //myPieChart.data.datasets[0].data = newpdata;
                       // myPieChart.update();
                    }

                    $('#Apply').click(clickApply);
                   



                    
                </script>
            </div>
            <div class="col-4">
                <p class="text-center">Clinic comparison</p>
                <!--bar Chart-->
                <div>
                    <canvas id="mybarChart"></canvas>
                </div>
                <script>
                    var ctx = document.getElementById("mybarChart").getContext('2d');

                    var data = [0.78, 0.90, 0.80, 0.95];
                    var labels = ["Clinic A", "Clinic B", "Clinic C", "Clinic D"];
                    ctx.canvas.width = 310;
                    ctx.canvas.height = 310;
                    var myBarChart = new Chart(ctx, {
                        type: 'horizontalBar',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: "Clinic",
                                data: data,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)'
                                ],
                                borderWidth: 2
                            }]
                        },
                        options: {
                            responsive: false, // Instruct chart js to respond nicely.
                            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
                        }
                    });
                </script>
            </div>
        </div>
        <br />

        <!--Row 3-->
        <div class="row">
            <div class="col-8">
                <p class="text-center">Table of details</p>
                <font size="3">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">TestValue</th>
                                <th scope="col">LabValue</th>
                                <th scope="col">Accuracy</th>
                                <th scope="col">DeviationRate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model.LogViewModel.LogList)
                                {
                                    <tr>
                                        <td>@item.RecordedDateTime.ToShortDateString()</td>
                                        <td>@item.TestValue</td>
                                        <td>@item.LabValue</td>
                                        <td>@item.Accuracy</td>
                                        <td>@item.DeviationRate</td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </font>
            </div>


            <div class="col-4">
                <br />
                <p class="text-center">App Version comparison</p>
                <canvas id="VersionBarChart"></canvas>
            </div>
            <script>
                var ctx = document.getElementById("VersionBarChart").getContext('2d');
                var data = [0.98, 0.93, 0.89, 0.87, 0.81];
                var labels = ["3.3", "3.0", "2.3", "2.0", "1.0"];
                ctx.canvas.width = 400;
                ctx.canvas.height = 450;
                var myBarChart = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: "App version",
                            data: data,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: false, // Instruct chart js to respond nicely.
                        maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
                    }
                });
            </script>

        </div>
        <!--Row 4-->
        <div class="row">

        </div>
    </div>
</div>
