<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NeoCare System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://a.alipayobjects.com/jquery/jquery/1.11.1/jquery.js"></script>
    <script src="https://gw.alipayobjects.com/as/g/datavis/g2/2.3.13/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow p-4 mb-4" style="background-image: linear-gradient(15deg, #fdfdcd 0%, #a1d3b8 80%);">
        <!-- Logo -->
        <img src="~/Content/Img/logo2.png" height="50" class="d-inline-block align-top" alt="">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item h4 px-md-5" style="margin:0; padding: 0px 0px; display:inline-block;">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item dropdown h4 px-md-5" style="margin:0; padding:  0px 0px; display:inline-block;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Report
                    </a>
                    <span class="dropdown-menu">
                        <a class="dropdown-item" href="#">@Html.ActionLink("App Usage", "Index", "Report", null, new { @class = "nav-link" })</a>
                        <a class="dropdown-item" href="#">@Html.ActionLink("Test Accuracy", "Accuracy", "Report", null, new { @class = "nav-link" })</a>
                        <a class="dropdown-item" href="#">@Html.ActionLink("More Detail", "MoreDetail", "Report", null, new { @class = "nav-link" })</a>
                    </span>
            </li>
            <li class="nav-item h4 px-md-5" style="margin:0; padding:  0px 0px; display:inline-block;">
                @Html.ActionLink("Photo", "Library", "Home", null, new { @class = "nav-link" })
            </li>
        </ul>
    </nav>
    <br />
    <br />
    <br />

    <div class="body-content">
        <div class="row">

            @{
                switch (ViewBag.LeftNavType)
                {
                    case null:
                        <div></div>
                        break;

                    case "Doctor":
                        <div class="col-1">
                            <!--Left Side Bar-->
                            <div class="sidenav2">
                                <a>@Html.ActionLink("Report", "Index", "Report", null, new { @class = "btn btn-link" })</a>
                                <a>@Html.ActionLink("Photo", "Library", "Home", null, new { @class = "btn btn-link" })</a>
                            </div>
                        </div>
                        break;

                    case "Report":
                        <div class="col-1">
                            <!--Left Side Bar-->
                            <div class="sidenav2">
                                <a>@Html.ActionLink("App Usage", "Index", "Report", null, new { @class = "btn btn-link" })</a>
                                <a>@Html.ActionLink("Test Accuracy", "Accuracy", "Report", null, new { @class = "btn btn-link" })</a>
                                <a>@Html.ActionLink("More Detail", "MoreDetail", "Report", null, new { @class = "btn btn-link" })</a>
                            </div>
                        </div>
                        break;

                }
            }

            <div class="col">
                @RenderBody()
            </div>
        </div>

        <div class="row">
            <div class="col">
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Team Dynamic</p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
